# version 0.1
# author: b42agov7
# 2022-07-27

clouds:
{%- for cloud in clouds %}
  {{cloud.name}}:
    identity_api_version: '3.0'
    auth:
      username: '{{cloud.username}}'
      password: '{{cloud.password}}'
      project_name: '{{cloud.project}}'
      auth_url: '{{cloud.url}}'
      user_domain_name: '{{cloud.user_domain}}'
      project_domain_name: '{{cloud.project_domain}}'
{%- endfor %}
{%- for cloud in clouds %}
  {%- if cloud.name=='overcloud' %}
      auth_url: '{{cloud.url}}'
      user_domain_name: '{{cloud.user_domain}}'
      project_domain_name: '{{cloud.project_domain}}'
  {%- endif %}
{%- endfor %}